{% load static %}

<html>

<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>

   

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web Components-->
    <script type='text/javascript' src="{% static 'webComponents/modalStandard.js' %}"></script>
    <script type='text/javascript' src="{% static 'webComponents/modalLayoutStandard.js' %}"></script>
    <script type='text/javascript' src="{% static 'webComponents/dashboardTypeFieldset.js' %}"></script>
   





    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}?version=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}?version=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/body.css' %}?version=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home/webscrabing.css' %}?version=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/popup/popupStyle.css' %}?version=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}?version=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tableStyle.css' %}?version=1">









    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="{% static 'javascript/quotesTable.js' %}"></script>




    <!--Cookies-->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>


    <!--Bootstrap
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
-->


    {% load bootstrap4 %} {# import bootstrap4/bootstrap3 #}
    {% bootstrap_css %} {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %} {# Embed Bootstrap JS+jQuery #}
    {{ form.media }} {# Adds date-picker required JS and CSS #}



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.all.js"></script>



    <!--Jquery dialog-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--Jquery DataTable-->
    
    <script src="https://nightly.datatables.net/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://nightly.datatables.net/css/jquery.dataTables.min.css">

    <script src="https://nightly.datatables.net/colreorder/js/dataTables.colReorder.min.js"></script>
    <link rel="stylesheet" href="https://nightly.datatables.net/colreorder/css/colReorder.dataTables.min.css">

    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>



</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark  fixed-top">


            <a class="navbar-brand" href="{% url 'home' %}">K&M Investments</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTop">

                <ul class="navbar-nav">

                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarStickyNoteDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% static 'notes/PostItAll-master/dist/stickyNote.png' %}" width="20" height="22">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarStickyNoteDropdown">
                            <button class="dropdown-item" onclick="addStickyNote()"> Add Sticky Note</button>
                            <button id="stickyNoteHide" class="dropdown-item" style="display:none;"
                                onclick="saveStickyNotes()">Hide</button>
                            <button id="stickyNoteShow" class="dropdown-item" onclick="loadStickyNotes()">Show</button>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'portfolio:home' %}">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'journal:dashboard' %}">Journal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'notes:home' %}">To do </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>


                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            User
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'accounts:profile' %}">Profile</a>
                            {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'accounts:changePassword' %}">Change password</a>
                            <form class="logoutForm" action="{% url 'accounts:logout' %}" method="POST">
                                {% csrf_token %}
                                <button class="dropdown-item" type="submit"> Logout</button>
                            </form>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'accounts:password_reset' %}">Forgot password</a>
                            <a class="dropdown-item" href="{% url 'accounts:login' %}">Login</a>
                            {% endif %}
                        </div>
                    </li>




                </ul>
            </div>
        </nav>
    </header>

</br>
</br>


    {% include "notes/stickyNotes.html" %}

    {% block content %}

    {% endblock %}



    <footer class="footer">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <ul class="navbar-nav">
                <il class="nav-item">
                    <span class="navbar-text">Powered by Heroku</span>
                </il>
                <il class="nav-item">
                    <span class="navbar-text"> Developed using Python Django</span>
                </il>
            </ul>

        </nav>

    </footer>



    


    <!--Sticky note controller-->
    <script>

        // Toggle between hide and show buttons
        var btn = $('#stickyNoteShow,#stickyNoteHide').click(function () { // bind click handler to both button
            $(this).hide(); // hide the clicked button
            btn.not(this).show(); // show the another button which is hidden
        });


    </script>
</body>






</html>