
{% extends 'base.html' %}

{% block content %}


<h1> About Page </h1> 

<p>Before this website I had no prior experience with html, css, javascript or Django.</p>
<h3>What is this website</h3>
<p>This website is the result of a sparetime project I did starting from midt March 2020</p>

<h3>Front- and Backend</h3>
Front end is made using html, css and javascript and the backend using Python Django

<h3>Where is it stored</h3>
The website is run on Heroku
<h3>Plugins</h3>
<ol>
    <li>
        <p>jQuery</p>
    </li>
    <li>
        <p>Gridstack (Dashboard)</p>
    </li>
</ol>

<h3>Data Sources</h3>
<a href="https://iexcloud.io">IEX Cloud</a>

{% endblock %}