
{% extends 'base.html' %}

{% block content %}

<br/>

<script type="text/javascript">
$('#dataValuesPicklist').load("components/picklists/dualPickList.html"); 


</script>
<div id="addStockTable"></div>
{{ api|json_script:"quotes" }}
<br/> <br/>

<h1>Page does not respond well to getting squished. Figure this out</h1>
{{api}}

<!--Add Stock Form-->
<button class="button buttonSizeNormal" onclick="addStockOpenForm()">Edit Table</button>


<div class="popupBox fullscreen" id="addStockFormPopup">
  <div class="popupInputBox">

      <h1 style="text-align:center;">Edit Stocks</h1>
      <div class="divRow" style="text-align: center;">
        <div class="divColumn2">
          Add Ticker <br/>
          <form class="form-inline" action="{% url 'addStock' %}" method="POST">
            {% csrf_token %}
            <input id="nav-search-input"  type="search" placeholder="Input Ticker" name="ticker">
            <button class="nav-button" type="submit">Add Stock</button>
          </form>
        </div>
        
        <div class="divColumn2">
          test
          
          <div id="dataValuesPicklist"></div>
      
        </div>

      </div>
    
    <button type="button" class="buttonNeutral buttonPositionRight buttonSizeNormal" onclick="addStockCloseForm()">Submit</button>
    <button type="button" class="button buttonPositionLeft buttonSizeNormal" >Cancle</button>
     
  </div>
</div>


<a href="https://iexcloud.io">Data provided by IEX Cloud</a>,
<br/>
<br/>
<br/>



<script>
   function addStockOpenForm() {
        document.getElementById("addStockFormPopup").style.display = "block";
      }
      
    function addStockCloseForm() {
        document.getElementById("addStockFormPopup").style.display = "none";
      }

    
  

</script>

{% endblock %}