

    <link rel="stylesheet" type="text/css" href="{% static 'css/dualPicklist/dual-picklist.css' %}?version=1">
        
    
    
        <div class="container">
            <h3 class="textHeadingSmall">Choose Values</h3>
            <div class="dualPickListContainer">
        
                <div class="dualPicklistColumn dualPicklistColumnResponsive"> 
                <span class="dualPicklistColumnHeader">Avalible</span> 
                    <div class="dualPicklistOptions">
    asda
                    </div>   
                </div>
                <div class="dualPicklistColumn "> 
                <buttonPicklistIcon>
                    <button class="buttonPicklistPosition" type="button"><arrow class="right"> </arrow></button>
                </buttonPicklistIcon>
                <buttonPicklistIcon>
                    <button class="buttonPicklistPosition" type="button"><arrow class="left"> </arrow></button>
                </buttonPicklistIcon>
                </div>
                
            
                <div class="dualPicklistColumn dualPicklistColumnResponsive"> 
                    <span class="dualPicklistColumnHeader">Chosen</span> 
                    <div class="dualPicklistOptions">
    blablaassdsada
                    </div>   
                </div>
            
            <div class="dualPicklistColumn "> 
                <buttonPicklistIcon>
                <button class="buttonPicklistPosition" type="button"><arrow class="up"> </arrow></button>
                </buttonPicklistIcon>
                <buttonPicklistIcon>
                <button class="buttonPicklistPosition" type="button"><arrow class="down "> </arrow></button>
                </buttonPicklistIcon>
                </div>
            </div>
        
        </div>
  

