{% extends 'expenses/expensesBase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block expenses %}
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2">
            <a href="{% url 'expenses:add-expense' %}" class="btn btn-primary">Add Expense</a>
        </div>
    </div>
</div>

<div class="container mt-2">


    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dataFilters" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Filter data
        </button>
        <div class="dropdown-menu" style="width: 70%;" aria-labelledby="dataFilters">
            <form id="filter-form" action="{% url 'expenses:list-expenses' %}" method="GET">
                <div class="row">
                    <div class="col-md-2" style="padding: 1%; margin-left: 2%;">
                        {{filter.form.min_amount |as_crispy_field}}
                        {{filter.form.max_amount |as_crispy_field}}
                    </div>
                    <div class="col-md-3" style="padding: 1%;">
                        {{filter.form.start_date |as_crispy_field}}
                        {{filter.form.end_date |as_crispy_field}}
                    </div>
                    <div class="col-md-3" style="padding: 1%;">
                        {{filter.form.ordering|as_crispy_field}}
                        {{filter.form.description|as_crispy_field}}
                    </div>

                    <div class="col-md-3" style="padding: 1%;">

                        {{filter.form.category|as_crispy_field}}
                    </div>

                </div>
                </br>

                <button type="submit" class="btn btn-primary">Search</button>
                <button class="btn btn-secondary" onclick="document.getElementById('filter-form').reset()">Clear
                    filter</button>
            </form>
        </div>
    </div>



    <div id="expenses-table-output" class="table-output">
        <table class="table table-striped table-hover">
            <thead id="expenses-tablehead-output" class="thead-light">

            </thead>
            <tbody id="expenses-tablebody-output">

            </tbody>

        </table>
    </div>

    <div id="expenses-pagination-container" class="pagination-container">
        <div class="row">
            <div class="col-md-6">
                Showing page <span id="pageNumber"></span> of <span id="numberOfPages"></span>
            </div>
            <div class="col-md-6">
                <ul class="pagination align-right float-right mr-auto ">

                    <li class="page-item active">
                        <input data-url="" class="page-link" type="button" value="&laquo 1">
                    </li>
                    <li class="page-item">
                        <input id="previousPage" data-url="" class="page-link" type="button" value="Previous">
                    </li>

                    <li class="page-item">
                        <input id="nextPage" data-url="" class="page-link" type="button" value="Next">
                    </li>
                    <li class="page-item">
                        <input data-url="" class="page-link" type="button" value="&raquo">
                    </li>

                </ul>
            </div>
        </div>




    </div>

    <div class="card">
        <div class="card-header">
            Statistics
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div id="categoriesPercentSummary" ></div>
                </div>
                <div class="col-md-6">
                    <div id="categoryAggregatedAmount"></div>
                </div>
            </div>
        </div>
    </div>

</div>

</br>
</br>

<script>

    (function () {
        $(document).ready(function () {
            const expenseTableBody = document.getElementById('expenses-tablebody-output');
            const expenseTableHead = document.getElementById('expenses-tablehead-output');

            const currentPageNumberContainer = document.getElementById('pageNumber');
            const totalPagesNumberContainer = document.getElementById('numberOfPages');

            const expensesPaginationContainer = document.getElementById('expenses-pagination-container');
            const nextPage = document.getElementById('nextPage');
            const previousPage = document.getElementById('previousPage');


            $('.page-link').on('click', function (e) {
                console.log(e.target.getAttribute('data-url'));
                let url = e.target.getAttribute('data-url');
                fetchData(url);
            })


            function fetchData(url) {
                return fetch(url)
                    .then(res => res.json())
                    .then(data => {
                        console.log(data);

                        if (data.results.length === 0) {
                            expenseTableBody.innerHTML = 'No results'
                        } else {

                            /* Pagination control*/
                            if (data.lastPage === 1) {
                                expensesPaginationContainer.style.display = 'none ';
                            } else {
                                expensesPaginationContainer.style.display = 'block';
                            }

                            previousPage.setAttribute('data-url', data.links.previous);
                            nextPage.setAttribute('data-url', data.links.next);


                            currentPageNumberContainer.innerHTML = data.current;
                            totalPagesNumberContainer.innerHTML = data.lastPage;
                            /* Pagination control end */



                            const table = json2Table(data.results);
                            expenseTableHead.innerHTML = table.thead;
                            expenseTableBody.innerHTML = table.trows;
                        }

                    });

            }

            fetchData("{% url 'expenses:list-expenses' %}");
            fetchStatsData("{% url 'expenses:list-expenses' %}");

            $('#filter-form').submit(function (event) {
                // Stop the browser from submitting the form.
                event.preventDefault();

                let formData = new FormData(document.getElementById('filter-form'));

                let search = new URLSearchParams(formData);

                const queryString = search.toString();
                let url_base = $(this).attr('action');
                let url = url_base + '?' + queryString;
                fetchData(url);
                fetchStatsData(url);

            });
        })


    })()


</script>

<script>
    // Charts 


    function fetchStatsData(url, dataAll = []) {

        fetch(url)
            .then(res => res.json())
            .then(data => {

                dataAll = dataAll.concat(data.results);
                if (data.links.next) {
                    fetchStatsData(data.links.next, dataAll);

                } else {
                    let summary = summarizeCategories(dataAll);
                    highchartInitPieChart(summary);

                    
                    let timeseries = aggregateCategories(dataAll);
                    let series = createSeries(timeseries)
                    highchartInitTimeSeries(series);

                }


            })
    }


   




    function summarizeCategories(data) {
        let summary = {};

        data.forEach(item => {
            if (summary[item.category_name]) {
                summary[item.category_name] += item.amount;
            } else {
                summary[item.category_name] = item.amount;
            }
        });

        let series = [];
        let keys = Object.keys(summary);
        keys.forEach( key => {
            series.push({name : key, y : summary[key]});
        });
        
        return series;
    }

    function aggregateCategories(data) {
        data = data.sort((a, b) => new Date(a.date) - new Date(b.date));
        let jsonData = {};
        let arr;

        data.forEach((item, i) => {
            arr = jsonData[item.category_name];
            let date = new Date(item.date);
            let utcDate = date.getTime();
            if (arr) {
                arr.push([utcDate, arr[arr.length - 1][1] + item.amount]);
            } else {
                arr = ([[utcDate, item.amount]]);
            }
            jsonData[item.category_name] = arr;

        });
        return jsonData;

    }


</script>

<script>
    function json2Table(json) {

        let cols = Object.keys(json[0]);

        let headerRow = cols.map(col => `<th> ${col} </th>`).join("");


        let rows = json.map(row => {
            let tds = cols.map(col => {

                if (col === 'id') {
                    return `<td>
                    <a href="{% url 'expenses:edit-expense' 123 %}" class="btn btn-secondary btn-sm">Edit</a>
                    
                    </td>`.replace('123', row[col]);
                } else {
                    return `<td> ${row[col]} </dt>`;
                }
            }).join(" ");
            return `<tr> ${tds} </tr>`;
        }).join("");


        const head = ` <tr> ${headerRow} </tr>`;

        return { 'thead': head, 'trows': rows }

    }
</script>


<script src="{% static 'expenses/highchartsStats.js' %}"></script>
<script src="{% static 'expenses/utils.js' %}"></script>
{% endblock %}