{% extends 'expenses/expensesBase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load  expensesFilterUtils %}

{% block expenses %}


<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Create New {{model_name|prettifyString}}</h5>
        </div>
        <form id="add-user-input-form" action="{% url 'expenses:user-definedinput-control-list' %}?model={{model_name}}"
            method="POST">


            <div class="card-body">
                <div class="row">
                    {% csrf_token %}
                    {% for field in form %}
                    {{field}}
                    {% endfor %}
                    <input type="submit" value="Create">
                </div>
            </div>



        </form>
    </div>


    <div class="card mt-4">
        <div class="card-header">
            <h5>{{model_name|prettifyString}}</h5>
        </div>
        <div class="card-body">
            <div id="table-container" class="container">
                <table id="user-input-table" class="table">
                    <tbody id="input-categories">

                    </tbody>


                </table>
            </div>
        </div>
    </div>

</div>


<script>

    $(document).ready(function () {







        fetch("{% url 'expenses:user-definedinput-control-list' %}?model={{model_name}}")
            .then(res => res.json())
            .then(data => {
                let table = document.getElementById('user-input-table');
                document.getElementById('input-categories').innerHTML = json2Table(data, table);
               
                console.log(data);
            });



        document.getElementById('add-user-input-form').addEventListener('submit', function (e) {
            e.preventDefault();
            let formData = new FormData(this);
            let parsedData = {};
            for (let name of formData) {
                if (typeof (parsedData[name[0]]) == "undefined") {
                    let tempdata = formData.getAll(name[0]);
                    if (tempdata.length > 1) {
                        parsedData[name[0]] = tempdata;
                    } else {
                        parsedData[name[0]] = tempdata[0];
                    }
                }
            }

            let options = {};
            switch (this.method.toLowerCase()) {
                case 'post':
                    options.body = JSON.stringify(parsedData);
                case 'get':
                    options.method = this.method;
                    options.headers = {
                        "X-CSRFToken": Cookies.get("csrftoken"),
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    };
                    break;
            }

            fetch(this.action, options).then(r => r.json()).then(data => {
                let table = document.getElementById('user-input-table');
                document.getElementById('input-categories').innerHTML = json2Table(data, table);
            });

            this.reset();
        });


    });



    function delay(callback, ms) {
        /*
       delays userinput by chosen number of ms.
       

        */
        var timer = 0;
        return function () {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                callback.apply(context, args);
            }, ms || 0);
        };
    }



    function deleteInputRow(e) {

        fetch("{% url 'expenses:user-definedinput-control-detail' pk='123' %}?model={{model_name}}".replace('123', e.dataset.id), {
            method: 'DELETE',
            headers: {
                "X-CSRFToken": Cookies.get("csrftoken"),
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
        })
            .then(res => res.json())
            .then(data => {
                let table = document.getElementById('user-input-table');
                console.log(table)
                document.getElementById('input-categories').innerHTML = json2Table(data, table);
            })
    }


    function json2Table(json, table) {
        table.innerHTML = '';

        json.forEach(item => {
            let row = table.insertRow(0);


            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);

            cell1.contentEditable = "true";
            cell1.addEventListener('keyup', delay(
                function () {

                    let data = {
                        model: "{{model_name}}",
                        name: this.innerText

                    };
                    fetch("{% url 'expenses:user-definedinput-control-detail' pk='123'%}".replace('123', this.dataset.id), {
                        method: 'PATCH',
                        headers: {
                            "X-CSRFToken": Cookies.get("csrftoken"),
                            "Accept": "application/json",
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(data)
                    })
                        .then(res => res.json())
                        .then(data => {
                            console.log(data);
                        })
                }, 500));
            cell1.innerHTML = item.name;
            cell1.dataset.id = item.id;
            cell2.innerHTML = `<button class="btn btn-secondary" data-id="123" data-model="{{model_name}}" onclick="deleteInputRow(this)">Delete</button>`.replace('123', item.id);
        });


    }



    


</script>







{% endblock %}