
{% load static %}

<!--https://postitall.txusko.com/plugin.html#doc_changeoptions-->

<link rel="stylesheet" type="text/css" href="{% static 'notes/css/notes.css' %}?version=1">



<link rel="stylesheet" href="{% static 'notes/PostItAll-master/dist/jquery.postitall.css' %}">
<link rel="stylesheet" href="{% static 'notes/PostItAll-master/dist/postItAllCustom.css' %}">








<script src="{% static 'notes/PostItAll-master/dist/jquery.postitall.js' %}"></script>
<script src="{% static 'notes/PostItAll-master/dist/jquery.postitall.ajax.js' %}"></script>
<script>

$.fn.postitall.globals = {
    prefix          : '#PIApostit_',//Id note prefixe
    filter          : 'domain',     //Options: domain, page, all
    savable         : false,        //Save postit in storage
    randomColor     : false,         //Random color in new postits
    toolbar         : true,         //Show or hide toolbar
    autoHideToolBar : false,         //Animation efect on hover over postit shoing/hiding toolbar options
    removable       : true,         //Set removable feature on or off
    askOnDelete     : true,         //Confirmation before note remove
    draggable       : true,         //Set draggable feature on or off
    resizable       : true,         //Set resizable feature on or off
    editable        : true,         //Set contenteditable and enable changing note content
    changeoptions   : true,         //Set options feature on or off
    blocked         : true,         //Postit can not be modified
    hidden          : true,         //The note can be hidden
    minimized       : true,         //true = minimized, false = maximixed
    expand          : true,         //Expand note
    fixed           : true,         //Allow to fix the note in page
    addNew          : true,         //Create a new postit
    showInfo        : true,         //Show info icon (info tab)
    showMeta        : true,         //Show info icon (meta tab)
    pasteHtml       : true,         //Allow paste html in contenteditor
    htmlEditor      : true,         //Html editor (trumbowyg)
    autoPosition    : true,         //Automatic reposition of the notes when user resize screen
    addArrow        : 'back',       //Add arrow to notes : none, front, back, all
    askOnHide       : true,         //Show configuration hideUntil back-panel (getBackPanelHideUntil)
    hideUntil       : null,         //Note will be hidden since that datetime
    export          : true          //Note can be exported
};



var postItAllIds = [];

function addStickyNote(){

    $.PostItAll.new(changeNoteOptions({}));

};





function saveStickyNotes(){

    var postItAllOptions = [];
    postItAllIds.forEach(elem => {
        let options = $(elem).postitall('options');
        postItAllOptions.push(options)
    })
    

    

   
    
    fetch("{% url 'notes:save' %}", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                "X-CSRFToken": Cookies.get("csrftoken"),
                "Accept": "application/json",
                'X-Requested-With': 'XMLHttpRequest'
            },
            body: JSON.stringify(postItAllOptions),
        }).then((res) => {
            $.PostItAll.destroy();
            })
            .catch(res => { console.log(res) });


}

function loadStickyNotes(){


   
        
    fetch("{% url 'notes:load' %}", {
            method: 'GET',
            credentials: 'same-origin',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
        }).then(res => res.json()).then((res) => {
            let optionsArray = res.data;

            optionsArray.forEach( (options) => {
                let changedOptions = changeNoteOptions(options);
                $.PostItAll.new(changedOptions);
            })
            
            

                //$(id).postitall('new', options, callback);

            })
            .catch(res => { console.log(res) });
    
}

function changeNoteOptions(options){

    options.onCreated = function(id, options, obj) { postItAllIds.push(id); }
    options.onDelete =  function(id) { postItAllIds = postItAllIds.filter(function(item) { return item !== id });}
    return options;

}
</script>
