


  /* The popup form - hidden by default */
.popupBox {
  display: none;
  z-index: 9;
  background-color: rgba(211, 211, 211, 0.5);
}

.popupInputBox {
  width: 70%;
	height: 70%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  background-color:white;

  border-radius: 10px;
  padding-left: 0em;

}


.fullscreen {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
}



.divRow {
  content: "";
  display: table;
  clear: both;
  margin: auto;
}

.divColumn2 {
  float: left;
  width: 50%;
  margin: auto;
}

