{% load static %}

<div id="journalDataTableWrapper" style="width: 50%;">
   



    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Name</th>
                <th>Currency</th>
            </tr>
        </thead>
    </table>

</div>

<script>

    $(document).ready(function () {

        var table = $('#example').DataTable({
            "processing": true,
            "colReorder": true,
            "dom": 'Bfrtip',
            "buttons": [
            'colvis',
            ],
            "ajax": {
                "url": "{% url 'journal:homeTableData' %}",
                "dataSrc": ""
            }
            ,
            "columns": [
                { data: "ticker" },
                { data: "name" },
                { data: "currency" }
            ],
            "scrollY": "400px",

        });
       
    });


</script>