{% extends 'base.html' %}






{% block title %}
Journal
{% endblock %}


{% block content %}


<style>
    :root {
        --sidebarWidth: 3%;
        --bodyWidth: 97%;
    }

    .ui-dialog-titlebar {
        background-color: rgb(17, 21, 30);
        ;
        background-image: none;
        color: white;
        text-align: center;
    }


    .text-style-dark {
        color: rgb(158, 158, 158);
    }

    .side-bar {
        width: var(--sidebarWidth);
    }
    .body {
        width: var(--bodyWidth);
    }
</style>




<div class="text-style-dark" style="background-color: rgb(18, 23, 37); width: 100%; height: 100%; ">


    {% include 'journal/navbarTop.html' %}
    

    <div class="row">
        <div class="side-bar">
            {% include 'journal/navbarSide.html' %}
        </div>
        <div class="body">

            {% block journal %}


            {% endblock %}


        </div>
    </div>


</div>






{% endblock %}