<nav class="navbar navbar-expand-lg " style=" background-color: rgb(17, 21, 30);">
    <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" id="newJournalEntryForm" type="button">New Trade</a>
        </li>
        <li class="dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Portfolio
        </a>
            <ul class="dropdown-menu">      
                <li class="dropdown-item">
                    <a id="newPortfolioForm" class="nav-link" type="button">Add</a>
                </li>
                <li class="dropdown-submenu">
                    <a id="portfolioViewAll" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button">View all</a>
                    <ul id="portfolio-wrapper" class="dropdown-menu scrollable-menu">
                        <form id="portfolio-filter-form">
                            
                        </form>
                      
                                       
                    </ul>
                </li>
                   
              
            </ul>
        </li>
    </ul>
</div>


</nav>



{% include 'journal/newPortfolio.html' %}

<div id="createDialogForm" title="Enter new journal entry">

    <div class="alert alert-success" role="alert">
        sadfasfaf
      </div>
</div>



<script>
    $(function () {
        $("#createDialogForm").dialog({
            autoOpen: false,
            modal: false,

            minHeight: 0,
            width: 700,
            create: function() {
            $(this).css("maxHeight", 700);        
            },
            position: {
                using: function (pos) {
                    $(this).css("top", 100 + 'px');
                    $(this).css("left", 100 + 'px');
                }
            },
            show: {
                effect: "fade",
                duration: 200,
            },
            hide: {
                effect: "blind",
                duration: 200,
            },
            buttons: {
                Cancle: function () {
                    $(this).dialog("close");
                },
                "Create": async function () {
                    
                    let url = $(this).data('url');
                    let formId = $(this).data('formId')

                    let res = await postForm(url, formId);
                   

                    if (res.status == 201){
                        $(this).dialog("close");
                    }     
                    else {
                        alert('Error ' + res.status + ': ' + res.statusText);
                    }           
                },
            }

        });
    });



   






    $("#newJournalEntryForm").on('click', function () {
        let url = "{% url 'journal-api:journalForm' %}";
        let formId = 'journalEntryForm';

        $("#createDialogForm")
        .data('url', url)
        .data('formId', formId)
        .dialog("open");

        fetch(url)
        .then(res => res.text())
        .then(html => {
            $('#createDialogForm').html(html);
        })

    }); 



    $("#newPortfolioForm").on('click', function () {
        let url = "{% url 'journal-api:portfolioForm' %}";
        let formId = 'portfolioForm';
        $("#createDialogForm")
        .data('url', url)
        .data('formId', formId)
        .dialog("open");

        fetch(url)
        .then(res => res.text())
        .then(html => {
            $('#createDialogForm').html(html);
        })

    });




</script>


<!--Portfolio filter-->

<script>

$("#portfolioViewAll").on('click', function () {
    list("{% url 'journal-api:portfolio-list' %}",'portfolio-filter-form');
});


    

</script>