{% load crispy_forms_tags %}
<div id="createJournalEntryDialog" title="Enter new journal entry">
    <form id='journalEntryFrom' method="POST">
    

          

    </form>

</div>

<script>
    $(function () {
        $("#createJournalEntryDialog").dialog({
            autoOpen: false,
            modal: false,

            height: 700,
            width: 700,
            position: {
                using: function (pos) {
                    $(this).css("top", 100 + 'px');
                    $(this).css("left", 100 + 'px');
                }
            },
            show: {
                effect: "fade",
                duration: 200,
            },
            hide: {
                effect: "blind",
                duration: 200,
            },
            buttons: {
                Cancle: function () {
                    $(this).dialog("close");
                },
                "Create": async function () {
                }
            }

        });
    });


</script>



<script>

    $("#newEntryDialog").on('click', function () {
        $("#createJournalEntryDialog").dialog("open");
    });

</script>