{% extends 'journal/journalPage.html' %}

{% block journal %}

<div class="container-fluid">


    <div class="card card-main-detail" style="margin: 3rem; background-color: rgb( 24, 29, 41);">
        <div class="card-header" style="background-color: rgb(33, 39, 54);">
            Detail
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>



    {{actionForm}}



</div>

{% endblock %}