{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container-fluid">

    <div class="row">
        <div class="col-md-4">
            <h2>Create Account</h2>
            <form action="{% url 'portfolio:home' %}" method="post">
                {% csrf_token %}
                {{ accountForm }}
                <input type="submit" value="Submit">
            </form>

            <h2>Accounts</h2>


            {% for account in accounts %}
            <p>{{account.name }}</p>
            <p>{{account.account_type }}</p>
            {% endfor %}

        </div>


        <div class="col-md-4">
            <h2>Create Positions</h2>
            <form method="post" id="post-positions">
                {{ positionForm }}
                <input type="submit" value="Submit">
            </form>


            <div id="positions-container"></div>



        </div>





    </div>



</div>


<script src="{% static 'portfolio/controller.js'%}"></script>

<script>
    $(document).ready( function() {
    $('#post-positions').on('submit', function (event) {
        event.preventDefault();
        let formData = $('#post-positions').serializeArray();
        postPositions(formData);
    });

})

function postPositions(formData) {
        

        fetch("{% url 'portfolio:positions' %}", {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                "X-CSRFToken": Cookies.get("csrftoken"),
                "Accept": "application/json",
                'X-Requested-With': 'XMLHttpRequest'
            },
            body: JSON.stringify(formData),
        }).then( res => res.json()).then((data) => {
                insertTable(data.data, 'positions-container');
            })
            .catch(res => { console.log(res) });
    }
        
function insertTable(htmlTable, containerId) {
    var container = document.getElementById(containerId);
    container.innerHTML = htmlTable;

    var table = container.getElementsByTagName('table');
    table[0].setAttribute('class', 'table table-sm table-hover');

              

}

    /*
    function createTable(data, container_id){
        console.log(data.data[0]);
        let keys = Object.keys(data.data[0])
        

        var container = document.getElementById(container_id)
        
        var table = document.createElement('table');
        var tableHead = document.createElement('thead');
        var tableBody = document.createElement('tbody');
        
        data.forEach(function(rowData){
            console.log(rowData);

        });

        for( var i = 0; i < data.length; i++) {
            for (var j = 0; j < keys.length; j++){
                var cell = document.createElement('td');
                

            }
        }


    }
*/
</script>


{% endblock %}