

/* Header */
.dashboardHeader {
	background-color: #0000ff;
	width: 100%;
	height: 3.5rem;
	display: flex;
	flex-direction: row;
	
}

.editMode {
	float: left;
	width: 135px;
	margin-top: 10px;
}

.editModeTitle {
	font-weight: bold;
}

.editMode label {
	float: left;
}
.editMmode .toggleDiv {
	float: right;
}

/* Dashboard Canvas */


.dashboardCanvas {

	background-color : rgb(118, 118, 118);

}



.dashboardComponents{
	background-color: ivory;
	border-radius: 0.3rem;
}