<html>
<head>
    <title>
        Create Dashboard Component
    </title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</head>

<body>
    <div class="container">
          <div class="row align-items-center">
            <div class="col-sm-4">
              
                <select id="chartType">
                    {% for item in  DashboardComponentOptions %}
                    <p>item</p>
                    <option value="{{ item }}">{{ item.name }}</option>
                    {% endfor %}
                </select>

          



            </div>
            <div class="col-sm-8">
              One of three columns
            </div>
          </div>
    </div>
    


<script>
    $(document).ready( function() {
    $('#chartType').on('change', function (event) {

        let chartType = document.getElementById("chartType").value;
        postChartType(chartType);
    });

})

function postChartType(type) {

        var url_mask = "{% url 'dashboard:chartOptions' type=12345 %}".replace(/12345/, type.toString());
        
        fetch(url_mask).then((data) => {
               console.log('response');
            })
            .catch(res => { console.log(res) });
    }
     

    /*
            
    }
*/
</script>



</body>


</html>