{% extends 'base.html' %}

{% block content %}


<div style="width: 100%;">
    <div class="dashboardHeader ">
        <div class="editMode">
            <label class="editModeTitle">Edit Mode: </label>
            <div class="toggleDiv">
                <input class="tgl tgl-light" id="edit_tgl" type="checkbox" />
                <label class="tgl-btn" for="edit_tgl"></label>
            </div>
        </div>
        <button class="buttonNeutral buttonSizeWide " onclick="addComponent()">
            Add Component
        </button>
        <modal-standard title="Add Component">

            <div class="grid-container">
                <div class="dashboardPrevied">Preview</div>
                <div id="dashboardComponentType" class="dashboardType">
                   
                    <c-fieldset id="dashboardTypeFieldset" title="Choose Type">
                    </c-fieldset>
                    

                </div>

                <div class="DashboardTickers" >
                    <input id="dashboardComponentTickers" type="text" placeholder="Input iicker(s)" style="max-width: 85%;"> </input>
                </div>
                <div class="dashboardSettings">
                    <dual-picklist id="settingsDualPicklist" title="Choose Items"></dual-picklist>
                </div>
            </div>
        </modal-standard>
    </div>
</div>


<div class="dashboardCanvas">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.all.js"></script>

    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>


    <div class="grid-stack">

    </div>

</div>


<script type="text/javascript">

    var grid = GridStack.init();

    function addComponent() {

        var dataInputId = Math.random().toString(36).substr(2, 9); // Generate a unigue id (maybe overkill)

        dashboardComponent = '<div class="grid-stack-item dashboardComponents">' +
            '<div id=' + dataInputId + ' class="grid-stack-item-content"><button id="" class="deleteButton" onclick="grid.removeWidget(this.parentNode.parentNode)"> &times; </button>' +
            '</div>';

        grid.addWidget(dashboardComponent, { width: 4, height: 5 });


        var trace1 = {
            x: [1, 2, 3, 4],
            y: [10, 15, 13, 17],
            type: 'scatter'
        };

        var trace2 = {
            x: [1, 2, 3, 4],
            y: [16, 5, 11, 9],
            type: 'scatter'
        };

        var config = { responsive: true }
        var data = [trace1, trace2];

        var layout = {
            title: 'test',
            margin: {
                t: 30, //top margin
                l: 20, //left margin
                r: 20, //right margin
                b: 20 //bottom margin
            },
            autosize: true,
        };

        Plotly.newPlot(dataInputId, data, layout, config);
    }




    /* Edit Mode */

    $('#edit_tgl').on('click', function () {
        if ($('#edit_tgl').is(':checked')) {
            console.log('checked');
            console.log(this.parentNode);
            // $("form").addClass("hideButton")

        } else {
            console.log('Not checked');
        }
    });




</script>




</div>
<a href="https://iexcloud.io">IEX Cloud</a>
{% endblock %}