{% extends 'base.html' %}

{% block content %}


<div style="width: 100%;">
    <div class="dashboardHeader ">
        <div class="editMode">
            <label class="editModeTitle">Edit Mode: </label>
            <div class="toggleDiv">
                <input class="tgl tgl-light" id="edit_tgl" type="checkbox" />
                <label class="tgl-btn" for="edit_tgl"></label>
            </div>
        </div>
        <button class="buttonNeutral buttonSizeWide " onclick="addComponent()">
            Add Component
        </button>
    </div>
</div>

<div class="dashboardCanvas">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.all.js"></script>

    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>


    <div class="grid-stack">

    </div>

</div>
<script type="text/javascript">

    var grid = GridStack.init();

    function addComponent() {

        var dataInputId = Math.random().toString(36).substr(2, 9); // Generate a unigue id (maybe overkill)

        dashboardComponent = '<div class="grid-stack-item dashboardComponents">' +
            '<div class="grid-stack-item-content"><button class="deleteButton" onclick="grid.removeWidget(this.parentNode.parentNode)"> x </button> <br/>' +
            '<div id=' + dataInputId + '></div>' +
            '</div>';

        grid.addWidget(dashboardComponent, { width: 4, height: 4 });

        var contentInnerWidth = $('#' + dataInputId).innerWidth();
        var contentInnerHeight = $('#' + dataInputId).innerHeight();
        console.log(contentInnerWidth);

        var trace1 = {
            x: [1, 2, 3, 4],
            y: [10, 15, 13, 17],
            type: 'scatter'
        };

        var trace2 = {
            x: [1, 2, 3, 4],
            y: [16, 5, 11, 9],
            type: 'scatter'
        };

        var config = { responsive: true }
        var data = [trace1, trace2];

        var layout = {
            title: 'test',
            margin: {
                t: 20, //top margin
                l: 20, //left margin
                r: 20, //right margin
                b: 20 //bottom margin
            }
        };

        Plotly.newPlot(dataInputId, data, config);
    }





    /* Edit Mode */
    /*
    $('#edit_tgl').on('click', function() {
		if( $('#edit_tgl').is(':checked') ) {
			$('.clear_grid').attr('disabled', false);
			$('.outer_widget').css('pointer-events', 'auto');
			$('#addWidget').show();
			$(document).on({
				mouseenter: function() {
					if( $(this).parent('#grid_stack_holder').length ) {
						$(this).children('.remove_outer').hide();
						$('.outer_widget').children('.ui-resizable-handle').hide();
						grid.resizable('.outer_widget', false);
					} else if ( $(this).parent('#grid_stack_cont').length ) {
						$(this).children('.remove_outer').show();
						$(this).children('.ui-resizable-handle').show();
						grid.resizable('.outer_widget', true);
					}
				},
				mouseleave: function() {
					if( $(this).parent('#grid_stack_holder').length ) {
					} else if ( $(this).parent('#grid_stack_cont').length ) {
						$(this).children('.remove_outer').hide();
					}
					$(this).children('.remove_outer').hide();
					$(this).children('.add_inner').hide();
				}
			}, '.outer_widget');

			grid.enable();
			grid.movable('.outer_widget', true);
			grid.resizable('.outer_widget', true);
		} else {
			$('.clear_grid').attr('disabled', true);
			$('.outer_widget').css('pointer-events', 'none');
			$('.outer_widget').children('.remove_outer').hide();
			$('#addWidget').hide();
			$('.outer_widget').children('.remove_outer').hide();
			$('.outer_widget').children('.ui-resizable-handle').hide();
			grid.disable();
			grid.movable('.outer_widget', false);
			grid.resizable('.outer_widget', false);
			$(document).off('mouseenter mouseleave', '.outer_widget');
			$(document).off('mouseenter mouseleave', '.inner_widget');
		}
	});
    */



</script>


</div>
<a href="https://iexcloud.io">IEX Cloud</a>
{% endblock %}