
body {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0px;
}


.divRow {
  content: "";
  display: table;
  clear: both;
  margin: auto;
}

.divColumn2 {
  float: left;
  width: 50%;
  margin: auto;
}

